* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://media.tenor.com/0uDfc8UDPVMAAAAd/anime-rain.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Edu NSW ACT Foundation', cursive;
font-family: 'Source Code Pro', monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500;600;700&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body.active .wrapper .sidebar{
  left: -225px;
}

body.active .wrapper .section{
  margin-left: 0;
  width: 100%;
}
/* -------------------- */
.wrapper .sidebar{
  background: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  width: 225px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
}

/* -------------------------- */
.wrapper .sidebar .profile{
  margin-bottom: 30px;
  text-align: center;
}

.wrapper .sidebar .profile img{
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
}

.wrapper .sidebar .profile h3{
  color: #ffffff;
  margin: 10px 0 5px;
}

.wrapper .sidebar .profile p{
  color: rgb(206, 240, 253);
  font-size: 14px;
}
/* -------------------------- */



/* ------------------- */
.wrapper .sidebar ul li a{
  display: block;
  padding: 13px 30px;
  border-bottom: 1px solid #0000006e; /* linha da navbar */
  color: rgb(241, 237, 237);
  font-size: 16px;
  position: relative;
}

.wrapper .sidebar ul li a .icon{
  color: #dee4ec;
  width: 30px;
  display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
    color: white;
}

.wrapper .sidebar ul li a:hover .icon{
    color: #0c7db1;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
    display: block;
}
/* ------------------- */

.wrapper .section{
  width: calc(100% - 225px);
  margin-left: 225px;
  transition: all 0.5s ease;
}

.wrapper .section .top_navbar{
  background: transparent;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 30px;

}

.wrapper .section .top_navbar .hamburger a{
  font-size: 28px;
  color: #f4fbff;
}

.wrapper .section .top_navbar .hamburger a:hover{
  color: #a2ecff;
}

/* ---------------- */

.wrapper .section{
  width: calc(100% - 225px);
  margin-left: 225px;
  transition: all 0.5s ease;
}

.wrapper .section .top_navbar{
  background: transparent;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 30px;

}

.wrapper .section .top_navbar .hamburger a{
  font-size: 28px;
  color: #ffffff;
}

.wrapper .section .top_navbar .hamburger a:hover{
  color: blue;
}

body {
font-family: 'Source Code Pro', monospace;
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */

.container {
  max-width: 23%;
  margin: 0 auto;
  text-align: center;
}
img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
h1 {
  display: block;
  justify-content: center;
  margin-left: 43%;
  margin-right: 25%;
  margin-top: 20px;
  color: white;
}
p {
  color: white;
  font-size: 150%;
  line-height: 1.5;
}

@media only screen and (max-width: 768px) {

  h1{
    font-size: 1em;
    
  }
}
@media only screen and (max-width: 768px) {

  p{

    font-size: 1em;
  }
}
.descricao p{
  display: flex;
  display: block;
  justify-content: center;
  margin-left: 30%;
  margin-right: 25%;
  margin-top: 4%;
}

.isso {
  display: flex;
  justify-content: center;
}

/* contato */
.social-media-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: transparent;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 15px;
}

.social-icon i {
  color: #fff;
  font-size: 20px;
}

/* contato */
