*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}



.hero{ 
    width: 100%; 
    height: 100vh;  
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));  
    position: relative; 
    padding: 0 5%; 
    display: flex;  
    align-items: center;  
    justify-content: center;
      
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between
}

nav .logo{
    width: 80px;
}
/* nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
} */
/* .texto a{
    font-weight: bold;
    color:white;
    font-size: 20px;
    padding: 1px 0px;
    border-radius: 50px;
    transition: 0.2s;
} */

/* efeito navbar */
/* .texto a:hover {
    color: green;   
} */
/* efeito navbar */

.content{
    text-decoration: none;
    position: fixed;
    text-align: center;
}
.content h1{
    text-decoration: none;
    font-size: 500%;
    color: rgb(255, 255, 255);
    font-weight: 550;
}
/* .content a{
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 16px;
    border: 2px solid rgb(255, 255, 255);
    padding: 5px 35px;
    border-radius: 100px;
    margin-top: 1px;
} */

.button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
  }

  .button:hover{
    background-color: rgb(255, 94, 0);
    cursor: pointer;
}
/* efeito nome entrar */
.content a:hover {
    color: green;
}
/* efeito nome entrar */


/* ///////////////////// */
video {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
  }

 
